
.bg-striped {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23edf2f7' fill-opacity='0.08' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.card,
.list-group,
.alert,
.btn,
.pagination {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.btn-link{
    box-shadow: none !important;
}

.text-indigo {
    color: $indigo;
}

a.text-indigo:focus {
    color: #505ca4;
}

a.text-indigo:hover {
    color: #505ca4;
}

.text-orange {
    color: #fd7e14;
}

a.text-orange:hover {
    color: #ca6410;
}

.btn-orange {
    background-color: #fd7e14;
    color: #fff;
}

.btn-orange:hover {
    background-color: #ca6410;
    color: #fff;
}

.border-orange {
    border-color: #fd7e14;
}

.bg-orange {
    background-color: #fff6e5;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

label {
    font-weight: 700;
    color: $gray-600;
}

.text-small {
    font-size: 0.75rem;
}

.text-muted-light {
    color: $gray-500;
}

.btn-info {
    color: #fff;
}

.form-group{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-group-item.active,
.page-item.active .page-link {
    z-index: 2;
    color: #343a40;
    background-color: #EDF2F7;
    border-color: rgba(0, 0, 0, 0.075);
    font-weight: bold;
}

.table-fixed {
    table-layout: fixed;
}
.nav-pills .nav-link.active {
    background-color: rgba(0, 0, 0, 0.05);
}
.modal-content {
    border-width: 2px;
}
